*, *::after, *::before, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(93, 101, 141, 0.52),
      rgba(26, 26, 26, 0.73)
    ),
    url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-content {
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.brand-name {
  color: #fdf9f1;
}

.brand-desc {
  color: #f4f2ed;
}

.brand-intro {
  color: #e1e1e1;
}

.banner-text {
  width: 60%;
  height: auto;
}

.banner-text h3 {
  font-size: 1.6875rem;
}

.banner-text h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
}

.banner-text p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-text {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
}

.logo {
  width: 40%;
}

.logo-text {
  color: #fff;
  font-weight: bolder;
  text-align: left;
}

.navbar-ul {
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navbar-ul li {
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.navbar-ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}

.navbar-ul li a:hover {
  border-bottom: 0.2em solid rgb(255, 247, 0);
  color: rgb(255, 217, 0);
}

.banner-btn {
  margin-top: 35px;
}

.btn {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 1.3rem;
  padding: 20px;
}

.btn-smart {
  background: rgb(255, 69, 79);
}

.about {
  padding: 4rem 0;
}

.p-45 {
  padding: 45px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.about h3 {
  color: rgba(37, 37, 37, 0.7);
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;
}

.about h1 {
  font-size: 40px;
  color: #252525;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}

.about p {
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 300;
}

.about-btn {
  margin-top: 35px;
}

.about-img {
  width: 100%;
  overflow: hidden;
}

.about-img img {
  width: 100%;
}

.shop {
  width: 100%;
  background: url("img/coat-cover.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.shop-text {
  height: 450px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
}

.shop-text h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.5px;
}

.shop-btn {
  margin-top: 35px;
}

.about-img-shop {
  padding-right: 10px;
}

.clients {
  width: 100%;
  padding: 100px 0px;
  background-color: rgb(53, 51, 51);
  color: #fff;
}

.client {
  text-align: center;
}

.client h1 {
  font-size: 45px;
}

.client p {
  font-style: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.prices {
  width: 100%;
  padding: 80px 0;
}

.price {
  padding: 20px;
}

.price-img {
  width: 100%;
  text-align: center;
}

.price-img img {
  width: 100%;
}

.price-heading {
  margin-top: 20px;
  font-size: 25px;
}

.price-text {
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
  font-weight: 300;
}

.price-rs {
  font-size: 30px;
  margin-top: 15px;
}

.main-footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(58, 56, 56);
  color: rgb(240, 233, 233);
}

.wrapper {
  width: 100%;
}

.main {
  width: 100%;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .navbar-text {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .container {
    width: 100%;
    padding: 0 30px;
  }
  .banner-text {
    width: auto;
  }

  .banner-text h3 {
    font-size: 25px;
  }

  .banner-text h1 {
    font-size: 35px;
    line-height: 35px;
    font-weight: 900;
    margin-top: 20px;
  }

  .banner-text p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
  }
  .navbar-ul {
    width: 100%;
    justify-content: center;
    font-size: 0.9rem;
  }
  .navbar-ul li a {
    text-decoration: none;
    color: #fff;
    /* padding-right: 10px; */
    font-weight: 300;
  }
  .col-3,
  .col-4,
  .col-6 {
    width: 100%;
  }
  .client {
    margin: 20px 0;
  }
  .about h1 {
    font-size: 25px;
  }
  .shop h1 {
    font-style: 25px;
  }
  .menu h1 {
    font-size: 25px;
  }
  .about-img {
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
  }
  .logo-text {
    text-align: center;
  }
  .banner-btn {
    margin-top: 25px;
  }

  .btn {
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    font-size: .8rem;
    padding: 15px;
  }
  .about h3 {
    color: rgba(37, 37, 37, 0.7);
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 700;
  }

  .about h1 {
    font-size: 25px;
    color: #252525;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 15px;
  }

  .about p {
    font-size: 16px;
    color: #8b8b8b;
    font-weight: 300;
  }

  .about {
    padding: 2rem 0;
  }

  .p-45 {
    padding: 30px;
  }
  .shop-text h1 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.5px;
  }
  .shop-btn {
    margin-top: 45px;
  }
  .image-pad-10 {
    padding-top: 10px;
  }
  .about-btn {
    margin-top: 25px;
  }
  .shop-btn {
    margin-top: 25px;
  }
}

@media (min-width: 800px) {
  .about h1 {
    font-size: 30px;
    color: #252525;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .about p {
    font-size: 16px;
    color: #8b8b8b;
    font-weight: 300;
  }
  .about h3 {
    color: rgba(37, 37, 37, 0.7);
    font-size: 25px;
    margin-bottom: 12px;
    font-weight: 700;
  }
  .about-btn {
    margin-top: 25px;
  }
  .banner-btn {
    margin-top: 25px;
  }
  .shop-btn {
    margin-top: 25px;
  }
}

@media (max-width: 320px) {
  .banner-text h3 {
    font-size: 1rem;
  }
  .banner-text h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    margin-top: 20px;
  }
  .banner-text p {
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 20px;
  }
  .banner-text {
    padding-top: 4rem;
  }
  .btn {
    font-size: .7rem;
  }
}